
body {
  font-weight: 400;
  font-style:normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.15;
  color: var(--dl-color-theme-neutral-dark);
  background: var(--dl-color-theme-neutral-light);

  fill: var(--dl-color-theme-neutral-dark);
}

.gallery5-wrapper {
  display: contents;
}
.gallery5-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery5-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.gallery5-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery5-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallery5-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.gallery5-container2 {
  gap: HalfUnits;
  flex: 1;
  width: 100%;
  height: 902px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery5-container3 {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.gallery5-image1 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  max-height: 700px;
}
.gallery5-image2 {
  width: 100%;
  height: 60%;
  max-height: 700px;
  object-fit: cover;
}
.gallery5-container4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery5-image3 {
  width: 100%;
  height: 440px;
  max-height: 700px;
  object-fit: cover;
}
.gallery5-image4 {
  width: 100%;
  height: 440px;
  max-height: 700px;
  object-fit: cover;
}
.gallery5root-class-name {
  height: 100%;
}
.gallery5root-class-name1 {
  height: 100%;
}
.gallery5root-class-name2 {
  height: 100%;
}
@media(max-width: 991px) {
  .gallery5-content {
    align-items: center;
    flex-direction: column;
  }
  .gallery5-container2 {
    height: auto;
  }
  .gallery5-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
  }
  .gallery5-image2 {
    height: 100%;
  }
  .gallery5-container4 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .gallery5-section-title {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .gallery5-image2 {
    max-height: 400px;
  }
}

.gallery5-wrapper-z6q1 {
  display: contents;
}
.gallery5-gallery31 {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery5-max-width1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.gallery5-section-title1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery5-container5 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallery5-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.gallery5-container6 {
  gap: HalfUnits;
  flex: 1;
  width: 100%;
  height: 902px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery5-container7 {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.gallery5-image11 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  max-height: 700px;
}
.gallery5-image21 {
  width: 100%;
  height: 60%;
  max-height: 700px;
  object-fit: cover;
}
.gallery5-container8 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery5-image31 {
  width: 100%;
  height: 440px;
  max-height: 700px;
  object-fit: cover;
}
.gallery5-image41 {
  width: 100%;
  height: 440px;
  max-height: 700px;
  object-fit: cover;
}
.gallery5root-class-name {
  height: 100%;
}
.gallery5root-class-name1 {
  height: 100%;
}
.gallery5root-class-name2 {
  height: 100%;
}
@media(max-width: 991px) {
  .gallery5-content1 {
    align-items: center;
    flex-direction: column;
  }
  .gallery5-container6 {
    height: auto;
  }
  .gallery5-image11 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
  }
  .gallery5-image21 {
    height: 100%;
  }
  .gallery5-container8 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .gallery5-section-title1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .gallery5-image21 {
    max-height: 400px;
  }
}

.gallery5-wrapper-5ff5 {
  display: contents;
}
.gallery5-gallery32 {
  width: 100%;
  height: auto;
  display: flex;
  padding: 0px;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery5-max-width2 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.gallery5-section-title2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery5-container9 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallery5-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.gallery5-container10 {
  gap: HalfUnits;
  flex: 1;
  width: 100%;
  height: 902px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery5-container11 {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.gallery5-image12 {
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: center;
  max-height: 700px;
}
.gallery5-image22 {
  width: 100%;
  height: 60%;
  max-height: 700px;
  object-fit: cover;
}
.gallery5-container12 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.gallery5-image32 {
  width: 100%;
  height: 440px;
  max-height: 700px;
  object-fit: cover;
}
.gallery5-image42 {
  width: 100%;
  height: 440px;
  max-height: 700px;
  object-fit: cover;
}
.gallery5root-class-name {
  height: 100%;
}
.gallery5root-class-name1 {
  height: 100%;
}
.gallery5root-class-name2 {
  height: 100%;
}
@media(max-width: 991px) {
  .gallery5-content2 {
    align-items: center;
    flex-direction: column;
  }
  .gallery5-container10 {
    height: auto;
  }
  .gallery5-image12 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
  }
  .gallery5-image22 {
    height: 100%;
  }
  .gallery5-container12 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .gallery5-section-title2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .gallery5-image22 {
    max-height: 400px;
  }
}

.home-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container11 {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-image1 {
  height: 3rem;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-link11 {
  font-size: 1.5em;
  text-decoration: none;
}
.home-link21 {
  font-size: 1.5em;
  text-decoration: none;
}
.home-link31 {
  font-size: 1.5em;
  
  text-decoration: none;
}
.home-link41 {
  font-size: 1.5em;
  
  text-decoration: none;
}
.home-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.home-link6 {
  display: contents;
}
.home-icon10 {
  width: 100%;
  height: 2em;
  text-decoration: none;
}
.home-link7 {
  display: contents;
}
.home-icon12 {
  width: 100%;
  height: 2em;
  text-decoration: none;
}
.home-burger-menu {
  display: none;
}
.home-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 3rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon-group2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.home-container12 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.home-text100 {
  margin: var(--dl-space-space-threeunits);
  font-size: 5em;
  text-transform: uppercase;
}
.home-image10 {
  width: auto;
  max-width: 70em;
  margin-top: var(--dl-space-space-twounits);
  min-height: 40em;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container13 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-sixunits);
  justify-content: flex-start;
}
.home-container14 {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-image11 {
  width: 200px;
  height: 299px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-fourunits);
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-image12 {
  width: 200px;
  height: 299px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-sixunits);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-sixunits);
}
.home-container15 {
  flex: 1;
  width: 1097px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text101 {
  font-size: 3em;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.home-text102 {
  font-size: 2em;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-container16 {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  padding-left: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-container17 {
  flex: 1;
  width: 70em;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text103 {
  margin: var(--dl-space-space-twounits);
  font-size: 3em;
  text-transform: uppercase;
}
.home-text104 {
  font-size: 2em;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container18 {
  flex: 1;
  width: 80em;
  height: auto;
  display: flex;
  position: relative;
  max-width: 100%;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: space-between;
}
.home-container19 {
  width: 421px;
  height: 30em;
  display: flex;
  padding: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-start;
  flex-direction: column;
}
.home-image13 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.home-container20 {
  width: 421px;
  height: 30em;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.home-image14 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.home-container21 {
  width: 421px;
  height: 30em;
  display: flex;
  padding: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-start;
  flex-direction: column;
}
.home-image15 {
  width: 100%;
  height: 100%;
  align-self: center;
  object-fit: cover;
}
.home-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  padding-left: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.home-container23 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text105 {
  font-size: 3em;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  text-transform: uppercase;
}
.home-container24 {
  flex: 1;
  width: 80em;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: space-between;
}
.home-container25 {
  width: 27em;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-image16 {
  width: 100%;
  height: 25em;
  align-self: center;
  object-fit: cover;
}
.home-text106 {
  font-size: 2em;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.home-text107 {
  width: 100%;
  font-size: 2em;
  text-align: center;
}
.home-container26 {
  width: 27em;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-image17 {
  width: 100%;
  height: 25em;
  align-self: center;
  object-fit: cover;
}
.home-text108 {
  font-size: 2em;
  margin-top: var(--dl-space-space-threeunits);
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.home-text109 {
  width: 100%;
  font-size: 2em;
  text-align: center;
}
.home-container27 {
  width: 27em;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-image18 {
  width: 100%;
  height: 25em;
  align-self: center;
  object-fit: cover;
}
.home-text110 {
  font-size: 2em;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.home-text111 {
  width: 100%;
  font-size: 2em;
  text-align: center;
}
.home-container28 {
  flex: 1;
  width: 100%;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text112 {
  font-size: 3em;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.home-container29 {
  flex: 1;
  width: 100%;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text115 {
  font-size: 3em;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.home-container30 {
  flex: 1;
  width: 100%;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text118 {
  font-size: 3em;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.home-container31 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  padding-left: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-sixunits);
}
.home-container32 {
  flex: 1;
  width: 70em;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text121 {
  margin: var(--dl-space-space-twounits);
  font-size: 3em;
  align-self: center;
  text-transform: uppercase;
}
.home-container33 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: space-between;
}
.home-container34 {
  width: 27em;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-image19 {
  width: 100%;
  height: 20em;
  align-self: center;
  object-fit: cover;
}
.home-text124 {
  font-size: 2em;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.home-text128 {
  width: 100%;
  font-size: 2em;
  align-self: center;
  text-align: center;
}
.home-container35 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-text135 {
  font-size: 2em;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container36 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: space-between;
}
.home-text136 {
  width: auto;
  font-size: 1.3em;
  align-self: center;
  text-align: left;
  line-height: 1.3;
}
.home-text151 {
  width: auto;
  height: 188px;
  font-size: 1.3em;
  align-self: center;
  text-align: right;
  line-height: 1.3;
}
.home-container37 {
  width: 27em;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-image20 {
  width: 100%;
  height: 20em;
  align-self: center;
  object-fit: cover;
}
.home-text166 {
  font-size: 2em;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.home-text169 {
  width: 100%;
  font-size: 2em;
  align-self: center;
  text-align: center;
}
.home-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-text176 {
  font-size: 2em;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container39 {
  flex: 0 0 auto;
  width: 15em;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: space-between;
}
.home-text177 {
  width: auto;
  font-size: 1.3em;
  align-self: center;
  text-align: left;
  line-height: 1.3;
}
.home-text192 {
  width: auto;
  height: 188px;
  font-size: 1.3em;
  align-self: center;
  text-align: right;
  line-height: 1.3;
}
.home-container40 {
  width: 27em;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-image21 {
  width: 100%;
  height: 20em;
  align-self: center;
  object-fit: cover;
}
.home-text207 {
  font-size: 2em;
  align-self: center;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.home-text210 {
  width: 100%;
  font-size: 2em;
  align-self: center;
  text-align: center;
}
.home-container41 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
}
.home-text217 {
  font-size: 2em;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-container42 {
  flex: 0 0 auto;
  width: 15em;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: space-between;
}
.home-text218 {
  width: auto;
  font-size: 1.3em;
  align-self: center;
  text-align: left;
  line-height: 1.3;
}
.home-text233 {
  width: auto;
  height: 188px;
  font-size: 1.3em;
  align-self: center;
  text-align: right;
  line-height: 1.3;
}
.home-container43 {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-max-width1 {
  align-self: center;
}
.home-content1 {
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container44 {
  flex: 0 0 auto;
  width: 50%;
  height: 30em;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image22 {
  height: 100%;
  object-fit: cover;
}
.home-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 50%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-section-title {
  width: 100%;
  position: relative;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.home-text248 {
  font-style: normal;
  
  font-weight: 700;
  text-transform: uppercase;
}
.home-content4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-contact-info1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}


.home-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: flex-start;
}
.home-contact-info2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.home-text250 {
  font-size: 2em;
  
}
.home-text251 {
  font-size: 2em;
}
.home-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.home-max-width2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.home-text252 {
  width: 100%;
  font-size: 1em;
  align-self: center;
  text-align: center;
  
}
@media(max-width: 991px) {
  .home-image1 {
    width: 83px;
    height: 82px;
  }
  .home-link11 {
    font-size: 1.2em;
    
  }
  .home-link21 {
    font-size: 1.2em;
    
  }
  .home-link31 {
    font-size: 1.2em;
    
  }
  .home-link41 {
    font-size: 1.2em;
    
  }
  .home-icon-group1 {
    width: auto;
    height: 100%;
    align-self: center;
  }
  .home-icon10 {
    width: var(--dl-size-size-xsmall);
  }
  .home-icon12 {
    width: auto;
    height: 100%;
  }
  .home-text100 {
    text-align: center;
  }
  .home-container13 {
    flex-direction: column;
  }
  .home-container14 {
    width: 100%;
    align-items: stretch;
    justify-content: center;
  }
  .home-image11 {
    width: 45%;
    height: auto;
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image12 {
    width: 45%;
    height: auto;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-container15 {
    width: 100%;
  }
  .home-container17 {
    width: 100%;
  }
  .home-container18 {
    flex: 0 0 auto;
    width: 100%;
    flex-direction: column;
  }
  .home-container19 {
    width: 100%;
    margin-top: 0px;
  }
  .home-container20 {
    width: 100%;
    margin-bottom: 0px;
  }
  .home-container21 {
    width: 100%;
    margin-top: 0px;
  }
  .home-container24 {
    width: 100%;
    flex-direction: column;
  }
  .home-container25 {
    width: 100%;
  }
  .home-container26 {
    width: 100%;
  }
  .home-text108 {
    align-self: center;
  }
  .home-container27 {
    width: 100%;
  }
  .home-text121 {
    align-self: flex-start;
  }
  .home-container33 {
    flex-direction: column;
  }
  .home-container34 {
    width: 100%;
  }
  .home-text136 {
    height: auto;
    font-size: 2em;
  }
  .home-text151 {
    height: 100%;
    font-size: 1.5em;
  }
  .home-container37 {
    width: 100%;
  }
  .home-container39 {
    width: 100%;
  }
  .home-text177 {
    font-size: 2em;
  }
  .home-text192 {
    height: auto;
    font-size: 2em;
  }
  .home-container40 {
    width: 100%;
  }
  .home-container42 {
    width: 100%;
  }
  .home-text218 {
    font-size: 2em;
  }
  .home-text233 {
    height: 100%;
    font-size: 2em;
  }
  .home-content1 {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-container44 {
    width: 100%;
  }
  .home-content2 {
    width: 100%;
    align-items: center;
  }
  .home-section-title {
    margin-bottom: 0px;
  }
  .home-text248 {
    margin: var(--dl-space-space-twounits);
  }
  .home-content4 {
    align-self: center;
  }
  .home-contact-info1 {
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-content5 {
    align-self: center;
  }
  .home-contact-info2 {
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-text250 {
    align-self: center;
    text-align: center;
  }
  .home-text251 {
    align-self: center;
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .home-container10 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
  .home-text100 {
    width: 100%;
    font-size: 3em;
    text-align: center;
  }
  .home-image10 {
    width: 100%;
    height: 15em;
    margin-top: 0px;
    min-height: auto;
    margin-bottom: 0px;
  }
  .home-container13 {
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .home-container14 {
    flex-direction: column;
  }
  .home-image11 {
    width: 100%;
    height: auto;
    margin: 0px;
    align-self: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-image12 {
    width: 100%;
    height: auto;
    align-self: center;
    margin-top: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container15 {
    width: 100%;
  }
  .home-text101 {
    margin: var(--dl-space-space-twounits);
  }
  .home-text102 {
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-container16 {
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .home-container17 {
    width: 100%;
  }
  .home-container18 {
    margin-bottom: 0px;
    flex-direction: column;
  }
  .home-container19 {
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-image13 {
    height: auto;
  }
  .home-container20 {
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-image14 {
    height: auto;
  }
  .home-container21 {
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-image15 {
    height: auto;
  }
  .home-container22 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-container24 {
    width: 100%;
    flex-direction: column;
  }
  .home-text108 {
    align-self: center;
    text-align: center;
  }
  .home-container31 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-container32 {
    width: 100%;
    flex-direction: column;
  }
  .home-container33 {
    flex-direction: column;
  }
  .home-container43 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-container44 {
    width: 100%;
  }
  .home-content2 {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-section-title {
    margin-bottom: 0px;
  }
  .home-contact-info1 {
    flex-direction: column;
  }
  .home-icon26 {
    align-self: center;
  }
  .home-text249 {
    font-size: 2em;
    text-align: center;
    
  }
  .home-email {
    font-size: 1.5em;
  }
  .home-contact-info2 {
    align-self: center;
    align-items: center;
    flex-direction: column;
  }
  .home-max-width2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
